asttokens>=2.0.0
attrs>=23.1.0
certifi>=2024.12.14
cffi>=1.15.0
charset-normalizer>=3.0.0
click>=8.0.0
colorama>=0.4.0
comm>=0.1.0
contourpy>=1.0.0
cryptography>=42.0.0
cycler>=0.10.0
debugpy>=1.6.0
decorator>=5.0.0
executing>=1.0.0
filelock>=3.0.0
flwr>=1.9.0
fonttools>=4.0.0
fsspec>=2024.1.0
grpcio>=1.60.0
grpcio-health-checking>=1.60.0
idna>=3.0
imbalanced-learn
ipykernel>=6.0.0
ipython_pygments_lexers>=1.0.0
ipython>=8.0.0
iterators>=0.0.1
jedi>=0.18.0
Jinja2>=3.0.0
joblib>=1.0.0
jsonschema>=4.0.0
jsonschema-specifications>=2023.0.0
jupyter_client>=7.0.0
jupyter_core>=4.0.0
kagglehub
kiwisolver>=1.3.0
markdown-it-py>=3.0.0
MarkupSafe>=2.0.0
matplotlib>=3.3.0
matplotlib-inline>=0.1.0
mdurl>=0.1.0
mpmath>=1.2.0
msgpack>=1.0.0
nest-asyncio>=1.5.0
networkx>=3.0
numpy>=1.21.0
opacus>=1.4.0
packaging>=23.0
pandas>=2.0.0
parso>=0.8.0
pathspec>=0.11.0
pillow>=10.0.0
platformdirs>=3.0.0
prompt_toolkit>=3.0.0
protobuf>=4.21.0
psutil>=5.8.0
pure_eval>=0.2.0
pycparser>=2.20
pycryptodome>=3.10.0
Pygments>=2.10.0
pyparsing>=3.0.0
python-dateutil>=2.8.0
pytz>=2023.0
PyYAML>=6.0
pyzmq>=25.0.0
ray>=2.9.0
referencing>=0.30.0
requests>=2.28.0
rich>=13.0.0
rpds-py>=0.10.0
scikit-learn>=1.2.0
scipy>=1.10.0
seaborn>=0.12.0
setuptools>=60.0.0
shellingham>=1.5.0
six>=1.16.0
stack-data>=0.6.0
sympy>=1.10.0
threadpoolctl>=3.0.0
tomli_w>=1.0.0
tomli>=2.0.0
torch>=2.0.0
torchvision>=0.15.0
tornado>=6.0
traitlets>=5.0.0
typer>=0.9.0
typing_extensions>=4.5.0
tzdata>=2024.1
ucimlrepo>=0.0.1
urllib3>=2.0.0
wcwidth>=0.2.0
web3>=6.0.0
